# Backend Laravel
backend-laravel/vendor/
backend-laravel/node_modules/
backend-laravel/.env
backend-laravel/.env.backup
backend-laravel/.phpunit.result.cache
backend-laravel/storage/*.key
backend-laravel/storage/logs/
backend-laravel/storage/framework/
backend-laravel/public/hot
backend-laravel/public/storage
backend-laravel/bootstrap/cache/

# Frontend React
frontend-react/node_modules/
frontend-react/build/
frontend-react/.env.local
frontend-react/.env.development.local
frontend-react/.env.test.local
frontend-react/.env.production.local
frontend-react/npm-debug.log*
frontend-react/yarn-debug.log*
frontend-react/yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
